body {
    background-color: #f2f5f8;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario {
    background-color: #ffffff;
    font-size: 14px;
}

.formulario .titulo {
    font-size: 24px;
}

.navbar-principal {
    background-color: #ffffff;
    font-size: 15px;
}

.navbar-principal ul li a {
    background-color: #ffffff;
    font-size: 15px;
}